.cbBack{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;
   margin-bottom: 20px;
}

.cbMain{
    width: 700px;
    height: 240px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.cbImg{
    height: 200px;
    widows: 300px;
    border-radius: 5px;
    background-size: cover;
}

.cbContent{
    margin: 0px 20px;
}

.cbDes{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: grey;
}
.cbTitle{
    font-size: 25px;
    font-weight: bolder;
}

.cbBtn{
    background-color: rgba(0,0,0,0.8);
    padding: 10px 10px;
    color: whitesmoke;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


@media screen and (min-width:320px) and (max-width:570px){
    .cbMain{
        height: 200px;
        width: 330px;
    }
    .cbImg{
        height: 130px;
        width:130px;
    }
    .cbDes{
        font-size: 9px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .cbTitle{
        font-size: 13px;
    }
    .cbBtn{
        padding: 5px 5px;
        font-size: 10px;
    }
}

@media screen and (min-width:571px) and (max-width:700px){
    .cbMain{
        height: 200px;
        width: 530px;
    }
    .cbImg{
        height: 180px;
        width:230px;
    }
    .cbDes{
        font-size: 13px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .cbTitle{
        font-size: 15px;
    }
    .cbBtn{
        padding: 10px 10px;
        font-size: 13px;
    }
}

@media screen and (min-width:701px) and (max-width:900px){
    .cbTitle{
        font-size: 19px;
    }
   
}