.cbBack{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 7px auto;
   border-radius: 4px;
   border: 2px solid #4646461f;
   max-width: 700px;
}

.cbMain{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

.cbImge {
    height: 220px;
    width: inherit;
    object-fit: cover;
    border-radius: 100px;
}

.cbImg{
    object-fit: cover;
    height: 220px;
    width: 100%;
}

.cbContent{
    margin: 15px 20px;
}

.cbDes{
    font-size: 16px;
    margin: 7px 0;
    color: grey;
}
.cbTitle{
    font-size: 24px;
    font-weight: 600;
}

.buttonArea {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cbBtn{
    padding: 10px 10px;
    color: rgba(0,0,0,0.8);
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

@media only screen and (min-width: 500px) {
    .cbImge {
        height: 250px;
        width: inherit;
        object-fit: cover;
        border-radius: 100px;
    }
    
    .cbImg{
        object-fit: cover;
        height: 250px;
        width: 100%;
    }    
}