.cbBack{
   display: flex;
   justify-content: center;
   margin-top: 80px;
}

.cbMain{
    width: 700px;
    height: 240px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.cbImg{
    border-radius: 5px;
    background-size: cover;
}

.cbContent{
    margin: 0px 20px;
}

.cbDes{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: grey;
}
.cbTitle{
    font-size: 25px;
    font-family: "Josefin Sans";
    font-weight: bolder;
}

.cbBtn{
    background-color: rgba(0,0,0,0.8);
    padding: 10px 10px;
    color: whitesmoke;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}