.jbMain {
    width: 100%;
    height: 400px;
    background-color: rgb(71, 71, 71);
    color: white;
}
.jbOr {
    width: 100%;
    height: 50px;
    background: rgb(253, 107, 103);
}
.jbContent {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    width: 100%;
}
.header {
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 85px;
    text-align: center;
}
.jbCol {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.light {
    font-weight: 200;
}
.tagline, .taglineMobile {
    font-weight: 300px;
    letter-spacing: 4px;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .headerVector {
        display: none;
    }
    .header {
        font-size: 48px;
        line-height: 45px;
    }
    .jbContent {
        justify-content: center;
    }

}


@media screen and (min-width:902px) and (max-width:1000px){
    .headerVector{
        height: 400px;
        margin-top: 50px;
    }
    .header{
        font-size: 70px;
    }
    .tagline,.taglineMobile{
        font-size: 15px;
        letter-spacing: 2px;
    }
}

@media screen and (min-width:1001px) and (max-width:1200px){
   
   .tagline,.taglineMobile{
       font-size: 15px;
   }
   .headerVector{
    height: 400px;
    margin-top: 50px;
}
}