.supMain {
    display: flex;
    /* justify-content: space-around; */
    height: 100vh;
}
.supForm {
    padding: 50px 120px;
}
.supElements {
    margin-top: 30px;
    width: 400px;
}
.supInput {
    margin-top: 10px;
    padding: 14px 1px;
}

.title {
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 30px;
}

.buttonContainer {
    display: flex;
}

.supBtn {
    margin: 30px 0;
    border-radius: 4px;
    display: flex;

    border: none;
    background: rgba(25, 77, 250, 0.856);
    padding: 14px 40px;
    cursor: pointer;
    transition: 0.2s ease;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}
.col1{
    flex: 1;
	font-family: 'Josefin Sans';
	font-size: 40px;
	text-align: center;
	background: linear-gradient(to bottom right,rgb(71,71,71),rgb(253,107,103));
	color: white;
}

.signUpButton {
    margin: 30px 10px;
    border-radius: 4px;
    display: flex;
    border: none;
    background: #d3d3d369;
    padding: 14px 40px;
    cursor: pointer;
    transition: 0.2s ease;
    font-weight: bolder;
}

.supBtn:hover,
.signUpButton:hover {
    background-color: dodgerblue;
    color: cornsilk;
}

.col1 {
    text-align: center;
    flex: 1;
}

.col2 {
    display: flex;
    margin: 0 auto;
    align-items: center;
    background-color: #fff;
    height: 100%;
    flex: 1;
}

.cTitle{
	margin-top: 230px;
}

@media screen and (max-width: 900px) {
    .col1 {
        display: none;
    }

    .col2 {
        justify-content: center;
    }
    .supForm {
        padding: 10px 40px;
    }
}
