* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --progressBar: #ffc2c0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    background-color: #f5f9fb;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.blogContentImage {
    min-width: 80px;
    max-width: 100%;
    margin: 30px 0;
}

.ce-paragraph {
    margin: 20px 0;
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    letter-spacing: -0.003em;
    line-height: 32px;
}

.ce-paragraph::selection {
    background-color: #ffc2c0;
}

.codex-editor {
    padding: 0 18px;
}

.react-share__ShareButton {
    margin: 0 5px;
}

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--progressBar);

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--progressBar), 0 0 5px var(--progressBar);
    opacity: 1;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: var(--progressBar);
    border-left-color: var(--progressBar);
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {
    .container {
        padding: 0 4px;
    }

    .ce-paragraph {
        font-size: 19px;
        line-height: 28px;
    }
}
