.container {
    max-width: 700px;
    margin: 55px auto;
    /* padding: 15px; */
}

.headerImage {
    min-width: 80px;
    max-width: 100%;
}

.title {
    margin: 100px 0 10px 0;
    padding: 10px 10px;
    /* font-family: "Josefin Sans"; */
    font-family: 'DM Serif Display', serif;
    /* font-family: 'Open Sans Condensed', serif; */
    font-weight: 400;
    /* letter-spacing: 1.2px; */
    line-height: 48px;
    font-size: 40px;
}

.reactShareContainer {
    /* margin-left: auto; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 8px 30px 7px;
}

.timeStamp {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #5d5d5d;
}


@media only screen and (max-width: 900px) {
    .title {
        margin: 100px 0 10px 0;
        padding: 10px 10px;
        /* font-family: "Josefin Sans"; */
        font-family: 'DM Serif Display', serif;
        /* font-family: 'Open Sans Condensed', serif; */
        font-weight: 500;
        /* letter-spacing: 1.2px; */
        line-height: 40px;
        font-size: 32px;
    }
}