.nbMain {
    width: 100%;
    background: linear-gradient(to bottom right, #474747, #fd6b67);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    position: fixed;
    top: 0;
    user-select: none;
}

.nbLogo {
    font-weight: bolder;
    margin-left: 40px;    
}

.nbList {
    margin: 8px 70px;
    font-weight: bold;
    color: #fff;
}

.navItem {
    margin-left: 50px;
    display: inline;
}

@media only screen and (max-width: 700px) {
    .nbList {
        margin: 4px 10px;
    }

    .navItem {
        margin-left: 20px;
    }

    .nbLogo {
        margin: 4px 10px;
    }
}