.cardContainer {
    display: flex;
    width: 70%;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
.heading {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}

.cards {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
}

@media only screen and (max-width: 900px) {
    .cardContainer {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .heading {
        margin-bottom: 5px;
    }
    .cards {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
